.bg {
    background-color: rgb(0,60,103);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    min-height: 200px;
}

.container-form {
    background-color: white;
    margin-top: 20vh;
    padding: 30px 40px;
    border-radius: 10px;
}

.btn {
    background-color: rgb(0,60,103);
}
